{% extends "DiggerRecordbgBundle::layout.html.twig" %}
{% block content %}
<div class="title fs13">
		<b>Правила и условия</b>
</div>
<div class="pp10">
Обратна връзка: за предложения и/или критики: <a href="mailto:webmaster@recordbg.com">webmaster@recordbg.com</a>
</div>
{% endblock %}