{% extends "DiggerRecordbgBundle::layout.html.twig" %}
{% block content %}
<div class="title fs13">
		<strong>Рекорди:</strong>
</div>

	
<div class="htext1">
	 Световни рекорди за
	 <a href="http://www.recordholders.org/en/list/pushups.html"> Лицеви опори</a>
	<br /> 
	
Както и рекорда за 	 <a href="http://www.recordholders.org/en/list/pushups.html">Лицеви опори без прекъсване</a>
	</div>
    
	
<div class="htext0">
	
	Набирания 	 <a href=" http://www.recordholders.org/en/list/chinups.html">	
	Набирания 	</a>
	</div>
   
	
	<div class="listseparator"></div>

	
<div class="htext1">

 	<b>Колумбиецът Хайме Гарсия запомни 150 000 знака след запетайката в числото пи – 3,14</b>
    
По време за опита за рекорд били използвани 652 слайда за възпроизвеждането на екрана пред аудиторията на всички запаметени от колумбиеца цифри, които той изреждал с гръб към екрана. Изброяването на всички 150 000 знака отнело 3 дни, съобщава испанската осведомителна агенция EFE. Рекордното постижение на Гарсия било потвърденоот професорите по математика в мадридския университет.
	</div>
  
 
	
<div class="htext0">
<b>Най- младата майка на света е едва на 5 години</b>
lina medinaПеруанката Лина Медина през 1939 г. едва на 5 години и 7 месеца ражда с цезарево сечение син.
Изследване показало, че 5-годишната родилка има напълно зрели полови органи. Първата си менструация детето получило на 2,5 години.
Така и не станало ясно как именно е забременяла.
</div>



<div class="htext1">
<b>Най-високият небостъргач в света - Бурж Дубай</b>
Най-високият небостъргач в света - Бурж Дубай, ОАЕ, е висок 650 метра и има 160 етажа.
Очаква се Бурж да достигне 819 метра със сигналните светлини за самолетите.
</div>


<div class="htext0">
<b>Рафлезия Арнолди е най голямото цвете</b>
Рафлезията е паразитно растение, което живее като се храни с растителните сокове на различни растения. Поради това тя няма корени и стъбло, а се състои единствено от голям цвят. Този цвят е най-големият в света - диаметър повече от 1 метър, а теглото на цвета може да достигне 11 - 15 кг.
</div>


<div class="htext1">
<b>Рекорд на ”Гинес” за най-скъпа сватба</b>
Рекорд на "Гинес" за най-скъпа сватба е поставен през 1981 г. със сватбата на Шейх Мохамед бин Рашид ал Мактум от Дубай и принцеса Салама.
Цената на тържеството се изчислява на около 100 млн. долара. Семейството построило стадион за случая, който да може да побере всички 20 000 гости. Празненствата продължило цели 7 дни.
</div>


<div class="htext0">
<b>Американският художник-фотограф Спенсър Тъник постави своеобразен рекорд за актови фотографии</b>,
след като пред обектива му на централния площад Зокало в Мексико Сити в неделя застанаха 18 000 голи мексиканци, предава Reuters. Предишният рекорд на Тъник бе събирането на 7000 голи хора за фотосесия през 2003 г. в Барселона.
</div>




<div class="htext1">
<b>Англичанин подобри световния рекорд по безсъние</b>
42- годишният Тони Райт се решил на експеримента, за да разбере как реагира човешкият организъм без сън. По неговите думи, дясното и лявото полукълбо на мозъка имат нужда от различно количество сън и, натоварвайки ги поред, може да се намираш в тонус достатъчно дълго време.Той издържа без сън 11 дни и 11 нощи.
</div>
{% endblock %}
