{% extends "DiggerRecordbgBundle::layout.html.twig" %}
{% block content %}
<div class="title fs13">
		<b>Правила и условия</b>
</div>
<div class="pp10">
	<h3>С използуването на www.recordbg.com вие се съгласявате и задължавате да спазвате правилата описани в това споразумение:</h3>
   <p> Съгласявате се че ние (собствениците, организаторите и персонала на recordbg.com) не носим отговорност за публикуваната в този сайт информация. </p>
   <p> Съгласявате се и се задължавате да спазвате регионални и национални закони докато използвате този сайт и публикувате информация в него. </p>
   <p> Съгласявате се че ние (собствениците и организаторите на този сайт) си запазваме правото на промени в съдържанието със или без изрично предупреждение към вас потребителите. Дейността на сайта може да бъде прекратявана за кратки периоди поради нужда от подръжка или обновления или за по дълги периоди например по технически причини. Вие като безплатни потребители на този сайт нямате право да предявввате каквито и да било искове произтичащи от тези обстоятелства.</p>
</div>
{% endblock %}